a {
  display: block;
}

.button {
  width: 120px;
  height: 70px;
  border: none;
  border-radius: 5%;
  position: fixed;
  z-index: 2;
  top: 300px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.return {
  background-color: red;
  left: 5%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.size {
  background-color: teal;
  right: 5%;
  cursor: pointer;
}

@media (max-width: 640px) {
  .size {
    display: none;
  }
}


iframe {
  display: block;
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.mobile {
  width: 640px;
  height: 1545px;
  margin: 0 auto;
}

.desktop {
  height: 1850px;
  width: 100vw;
}

iframe {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
iframe::-webkit-scrollbar {
  /* WebKit */

  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
