* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  font-family: "Muli", "Tahoma", serif;
  font-weight: 500;
  line-height: 1.25;
  color: white;
  font-size: 1rem;
  background-image: url(./assets/images/background.png);
}

@media (max-width: 804px) {
  body {
    font-size: 0.7rem;
  }
}

@media (max-width: 655px) {
  body {
    font-size: 0.6rem;
  }
}

h2 {
  text-align: center;
}

main {
  margin: 20px auto;
  padding-bottom: 20px;
  max-width: 1024px;
  border-radius: 1%;
  background-color: rgba(10, 10, 10, 0.4);
}

section {
  margin: 0 20px;
}

li {
  margin: 5px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d9e710;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.name--photo {
  width: 200px;
  height: 246px;
}

figure {
  width: 20%;
  padding: 0 1% 1% 1%;
  border-radius: 5px;
  background: rgba(223, 217, 217, 0.4);
}

figcaption {
  text-align: center;
}

.avatar {
  width: 100%;
  margin-top: 10px;
  border-radius: 10%;
}

.cv {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 4px 3px 0 #7a7a7a;
  color: #ffffff;
}

section.contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  section.contacts {
    margin: 0;
    font-size: 0.45rem;
  }
}

/*collapsible*/
.active,
.education--interaction:hover {
  background-color: #9daa32;
  text-transform: uppercase;
}

.education--interaction {
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border: 3px solid #9daa32;
}

/*swiper-slider*/
.projects--link {
  display: block;
}

.projects--image {
  max-width: 100%;
  border: 1px solid whitesmoke;
}

.swiper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px 0;
  min-height: 390px;
}

@media (max-width: 804px) {
  .swiper_content {
    min-height: 290px;
  }
}

@media (max-width: 655px) {
  .swiper_content {
    min-height: 253px;
  }
}

@media (max-width: 560px) {
  .swiper_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0;
    background-color: rgba(82, 13, 122, 0);
  }
}

.projects--description {
  width: 40%;
}

@media (max-width: 560px) {
  .projects--description {
    display: none;
  }
}

.description--title {
  text-align: center;
  text-transform: uppercase;
  color: gold;
  font-weight: bold;
}

.description--action {
  text-align: end;
  color: #0de8d4;
}

.projects--container {
  width: 40%;
}

@media (max-width: 560px) {
  .projects--container {
    width: auto;
  }
}

.projects--mobile_action {
  display: none;
}

@media (max-width: 560px) {
  .projects--mobile_action {
    display: block;
    background-color: rgba(37, 37, 37, 0.6);
    height: 40px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  }
}

.mobile_collapsible {
  display: none;
}

@media (max-width: 560px) {
  .mobile_collapsible {
    display: block;
    background-color: rgba(37, 37, 37, 0.6);
    height: 40px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    cursor: pointer;
  }
}

.mobile_content {
  display: none;
}

@media (max-width: 560px) {
  .mobile_content {
    background-color: rgba(37, 37, 37, 0.6);
    height: auto;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 10px 0;
    cursor: pointer;
  }
}

.activated {
  display: block;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-button-prev {
  left: auto;
  background-color: rgba(20, 20, 21, 0.31);
  border: 2px solid rgba(10, 10, 10, 0.1);
  color: white;
}

.swiper-button-next {
  right: 0px;
  background-color: rgba(20, 20, 21, 0.31);
  border: 2px solid rgba(10, 10, 10, 0.1);
  color: white;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #fbfcf6;
}
/*# sourceMappingURL=style.css.map */